[submodule "testing/P2_Testing"]
	path = testing/P2_Testing
	url = ../P2_Testing_Repo.git
[submodule "test_repo"]
	path = test_repo
	url = https://github.com/MohamedAhmedBelinkedTech/P2_Testing_Repo.git
